*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.monster{
    width: 205px;
    height: 332px;
    border: solid 2px black;
    margin: 0 auto;
    background-image: url(../images/img.png);
    background-repeat: no-repeat;
    background-position: 0 0;
     animation-name: walk;
    animation-duration: 0.6s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}
@keyframes walk{
    100%{background-position: -820px 0;} 
}